{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}

<a href="{{ path('connect_google_start') }}">
    Login VIA Google
</a>
<hr>
<a href="{{ path('connect_facebook_start') }}">
    Login VIA Facebook
</a>

{% endblock %}
